@charset "UTF-8";

#header_div1 {
	front: 13px 宋体;
	margin:5px;
	background-color: #efefef;
	text-align: right;
	hight: 20px;
	line-height: 20px;
}

#header_id2 {
	font: 15px 微软雅黑;
	background-color: #c3292a;
	text-align: center;
	hight: 30px;
	line-height: 30px
}

.header_a {
	margin: 5px;
	text-decoration: none;
	color: white;
}


.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: 20px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
