<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>购物商城-物品明细</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link href="" rel="shortcut icon" type="image/x-icon" />
		<!-- main.css是购物商城主样式 -->
		<link rel=stylesheet type=text/css href="/css/index.css"/>
		<link rel=stylesheet type=text/css href="/css/header.css"/>
	 	<script type="text/javascript" src="/js/jquery.min.js"></script>
		<!-- Bootstrap -->
        <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		
		<script type="text/javascript">
		//购买数量，失去焦点
		function  blurFn(){
			var domByNum = document.getElementById("buyNum");
			var num = domByNum.value;
			//isNaN不是数字，包含小数
			if(isNaN(num)){
				domByNum.value = 1;
				return;
			}
			domByNum.value = Math.ceil(num) <1 ? 1: (Math.ceil(num) > "100" ? "100" : Math.ceil(num))
			
		}
		
		//1:减     2：加
		function  numFun(level){
			
			var domByNum = document.getElementById("buyNum");
			var num = domByNum.value;
			num = parseInt(num);
			switch (level) {
			case 1:
				domByNum.value = num <= 1 ? 1 :(num-1);
				break;

			case 2:
				domByNum.value = num +1 > "100" ? "100" : num+1;
				break;
			}
			
			
		}
			
			var buy = function(){
				document.getElementById("buyform").submit();
			};
		</script>
	</head>
<body>
	<!-- 引入公用头部 -->
    <div th:replace="public_header :: header"></div>
	
	<!-- middle part -->
	<div style="positon: relative; width: 960px;margin: 0px auto;">
		<!-- 左边物品类型列表 -->
		<!-- 左边物品类型列表 -->
                 <div id="booksort" style="float:left;width:180px;">
                     <div class="list-group">
                       <p  class="list-group-item active" style="height: 55px;">
                         物品分类
                       </p>
                       <a href="#" class="list-group-item">护肤</a>
                       <a href="#" class="list-group-item">彩妆</a>
                       <a href="#" class="list-group-item">香氛</a>
                       <a href="#" class="list-group-item">身体护理</a>
                       <a href="#" class="list-group-item">礼盒套装</a>
                       <a href="#" class="list-group-item">母婴专区</a>
                       <a href="#" class="list-group-item">男士专区</a>
                       <a href="#" class="list-group-item">粉底</a>
                     </div>
                 </div>
		
		<!-- 右边物品明细显示 -->
		<div class="w main">
			<div class="right-extra">
				<div id="name">
					<h1>[[${shopInfo.spInfo}]]<font style="color: #ff0000"id="advertiseWord"></font></h1>
				</div>
				<div id="preview">
					<div id="spec-n1" class="jqzoom">
						<img th:src="'/item_images/' + ${shopInfo.spImg}" th:title="${shopInfo.spInfo}" height="280" width="280" />
					</div>
					<ul class="extra">
						<li>
							<span>评分：</span>
							<div class="con" id="star10918727">
								<div style="float: left; margin: 2px 0 0 5px; width: 64px; height: 12px; background-image: url(img/icon_clubs.gif); background-repeat: no-repeat; overflow: hidden;"></div>
								<a href="javascript:void(0);" class="num-comment">(已有151人评价)</a>
							</div>
						</li>
						<li class="tuangou"><a href="javascript:void(0);">该商品支持全国购买</a></li>
					</ul>
				</div>
				<!--preview end-->
				<ul id="summary">
					<li>商品名称：<strong>[[${shopInfo.spName}]]</strong></li>
					<li>出产地：<strong>  法国</strong></li>
				</ul>
				<ul id="book-price">
					<li>定&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;价：<del>￥[[${shopInfo.oldPrice}]]</del></li>
					
					<li><font color="red">疯&nbsp;&nbsp;狂&nbsp;&nbsp;价：</font><span id="priceinfo"
						class="price">￥[[${shopInfo.newPrice}]]  </span><span class="rate" id="pricediscount">（0.7折）</span></li>
					<li class="sub">
						<span class="fl">库&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;存：100</span>
						<span>&nbsp;&nbsp;下单后立即发货</span>
					</li>
					<!--促销-->
					<li style="display: list-item;" id="mfms" class="hide">
						<table border="0" cellpadding="0" cellspacing="0">
							<tbody>
								<tr>
									<td valign="top">促销信息：</td>
									<td><font color="#ef0000">该商品参加满减活动，购买活动商品每满300元，可减100元现金</font></td>
								</tr>
							</tbody>
						</table>
					</li>
				</ul>
				
				
				<!-- 加入购物车表单 -->
				<form action="/addToShopcar" id="buyform">
					<!-- 隐藏表单传递要购买的书籍id -->
					<input type="hidden" name="shopId" th:value="${shopInfo.id}"/>
					<div class="m" id="choose">
						<dl class="amount">
							<dt>我要买：</dt>
							<dd>
								<a class="reduce" onclick="numFun(1);" href="javascript:void(0);">-</a> 
								<!-- 购买书的数量 -->
								<input value="1" id="buyNum" name="count" onblur="blurFn();" type="text" />
								<a class="add" onclick="numFun(2);" href="javascript:void(0);">+</a>
							</dd>
							
						</dl>
						<div class="btns">
							<a id="InitCartUrl" href="javascript:void(0);" onclick="buy();" class="btn-append"
								style="background-image: url(img/btn_new.jpg)">添加到购物车</a> 
							<input	value="关&nbsp;注"
								style="width: 68px; height: 30px; padding: 4px 0 4px 18px; margin-top: 7px; background: url(img/btn_attention.jpg) no-repeat 0 0; border: 0; line-height: 0; color: transparent; font-size: 0; *padding-bottom: 0px;"
								id="coll10918727" 
								type="button" />
							<div class="clr"></div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!---- middle end----->
	
	<!-- 引入公用尾部 -->
    <div th:replace="public_footer :: #public_footer"></div>
</body>
</html>