<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lee.yueqian.dao.Sp_InfoMapper" >
  <resultMap id="BaseResultMap" type="com.lee.yueqian.bean.Sp_Info" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sp_type" property="spType" jdbcType="INTEGER" />
    <result column="sp_name" property="spName" jdbcType="VARCHAR" />
    <result column="old_price" property="oldPrice" jdbcType="VARCHAR" />
    <result column="new_price" property="newPrice" jdbcType="VARCHAR" />
    <result column="sp_info" property="spInfo" jdbcType="VARCHAR" />
    <result column="sp_img" property="spImg" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, sp_type, sp_name, old_price, new_price, sp_info, sp_img
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.lee.yueqian.bean.Sp_InfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sp_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sp_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sp_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.lee.yueqian.bean.Sp_InfoExample" >
    delete from sp_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lee.yueqian.bean.Sp_Info" >
    insert into sp_info (id, sp_type, sp_name, 
      old_price, new_price, sp_info, 
      sp_img)
    values (#{id,jdbcType=INTEGER}, #{spType,jdbcType=INTEGER}, #{spName,jdbcType=VARCHAR}, 
      #{oldPrice,jdbcType=VARCHAR}, #{newPrice,jdbcType=VARCHAR}, #{spInfo,jdbcType=VARCHAR}, 
      #{spImg,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lee.yueqian.bean.Sp_Info" >
    insert into sp_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="spType != null" >
        sp_type,
      </if>
      <if test="spName != null" >
        sp_name,
      </if>
      <if test="oldPrice != null" >
        old_price,
      </if>
      <if test="newPrice != null" >
        new_price,
      </if>
      <if test="spInfo != null" >
        sp_info,
      </if>
      <if test="spImg != null" >
        sp_img,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="spType != null" >
        #{spType,jdbcType=INTEGER},
      </if>
      <if test="spName != null" >
        #{spName,jdbcType=VARCHAR},
      </if>
      <if test="oldPrice != null" >
        #{oldPrice,jdbcType=VARCHAR},
      </if>
      <if test="newPrice != null" >
        #{newPrice,jdbcType=VARCHAR},
      </if>
      <if test="spInfo != null" >
        #{spInfo,jdbcType=VARCHAR},
      </if>
      <if test="spImg != null" >
        #{spImg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lee.yueqian.bean.Sp_InfoExample" resultType="java.lang.Integer" >
    select count(*) from sp_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sp_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.spType != null" >
        sp_type = #{record.spType,jdbcType=INTEGER},
      </if>
      <if test="record.spName != null" >
        sp_name = #{record.spName,jdbcType=VARCHAR},
      </if>
      <if test="record.oldPrice != null" >
        old_price = #{record.oldPrice,jdbcType=VARCHAR},
      </if>
      <if test="record.newPrice != null" >
        new_price = #{record.newPrice,jdbcType=VARCHAR},
      </if>
      <if test="record.spInfo != null" >
        sp_info = #{record.spInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.spImg != null" >
        sp_img = #{record.spImg,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sp_info
    set id = #{record.id,jdbcType=INTEGER},
      sp_type = #{record.spType,jdbcType=INTEGER},
      sp_name = #{record.spName,jdbcType=VARCHAR},
      old_price = #{record.oldPrice,jdbcType=VARCHAR},
      new_price = #{record.newPrice,jdbcType=VARCHAR},
      sp_info = #{record.spInfo,jdbcType=VARCHAR},
      sp_img = #{record.spImg,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lee.yueqian.bean.Sp_Info" >
    update sp_info
    <set >
      <if test="spType != null" >
        sp_type = #{spType,jdbcType=INTEGER},
      </if>
      <if test="spName != null" >
        sp_name = #{spName,jdbcType=VARCHAR},
      </if>
      <if test="oldPrice != null" >
        old_price = #{oldPrice,jdbcType=VARCHAR},
      </if>
      <if test="newPrice != null" >
        new_price = #{newPrice,jdbcType=VARCHAR},
      </if>
      <if test="spInfo != null" >
        sp_info = #{spInfo,jdbcType=VARCHAR},
      </if>
      <if test="spImg != null" >
        sp_img = #{spImg,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lee.yueqian.bean.Sp_Info" >
    update sp_info
    set sp_type = #{spType,jdbcType=INTEGER},
      sp_name = #{spName,jdbcType=VARCHAR},
      old_price = #{oldPrice,jdbcType=VARCHAR},
      new_price = #{newPrice,jdbcType=VARCHAR},
      sp_info = #{spInfo,jdbcType=VARCHAR},
      sp_img = #{spImg,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>